<style>
.colection_list_container {
      margin: 0 auto;
       min-height:760px;
        background: #FDF6F1;
    }
   .collection_list_heading h1 {
    padding-top: 10%;
    margin: 0 auto 10px;
     text-align: center;
    }
  .collection_list_cta_all a {
      text-decoration: none;
      color: #000;
    font-size:32px;
    line-height:36.86px;
    padding-left: 3%;
    }
 
.leo-main-title{
  color: #2D2D2D;
  text-transform: capitalize;
  padding: 0.7em 0;
}
.leo-container{
  padding: 1em 0;
} 

  .leo-container .leo-title{
  color: #1A1A1A;
  margin-bottom: 10px;
}
.leo-content {
  position: relative;
    width: 80%;
    overflow: hidden;
    border: 1px solid #1F1F1F;
    margin: 0 10px;
    padding-bottom: 20px;
}
.leo-content .leo-content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 80%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.leo-content-image{
  width: 100%;
      margin: 0 auto;
    text-align: center;
    display: flex;
}

p.leo-content-text {
    background: #000;
    color: #000 !important;
    width: 40%;
    text-align: center;
    padding: 8px 0;
}
.leo-content-details h3{
  color: #000;
  font-weight: 300;
  margin-bottom: 0.5em;
      text-align: center;
  font-size: 28px;
    line-height: 37.82px;
}
.leo-content-details p{
  color: #000;
  font-size: 0.8em;
} 
.leo-content a {
    text-decoration: none;
}
  .col-list-bgimage {
    background-image: url(https://cdn.shopify.com/s/files/1/0596/1898/4089/files/Frame_40913_1.png?v=1716315840);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.collection_list_cta_all p {
    padding: 0 80px;
    text-align: center;
    text-transform: lowercase;
      width: 80%;
    margin: 0 auto;
      margin-bottom: 60px;
}
a.leo-content-title.button {
    background: #FDF6F1;
    color: #000;
}
  .leo-content-details {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .leo-content-details
}
@media screen and (max-width: 640px){
  .leo-container{
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 900px){
  .leo-container{
        display: flex;
    max-width: 1500px;
    margin: auto;
    width: 95%;
  }
}

  @media only screen and (max-width: 600px){
  .leo-content {width: 100%;}
}    
</style>

<div class="colection_list_container">
  <div class="col-list-bgimage">
   <div class="collection_list_heading"> <h1> {{ section.settings.sec_heading }}</h1> </div>
  <div class="collection_list_cta_all"> <p> {{ section.settings.view_all }} </p> </div>
<div class="leo-container">
  {%for block in section.blocks%}
  <div class="leo-content">
    <a href="{{ block.settings.link }}">
      <div class="leo-content-overlay"></div>
      <img class="leo-content-image" src="{{block.settings.image | img_url: 'master'}}">
      <div class="leo-content-details">
        <h3 class="cstm-col-text h5"><span>{{ block.settings.col_name }}</span></h3>
        <a class="leo-content-title button" href="{{ block.settings.linkshop }}">{{block.settings.shoptext}}</a>
      </div>
    </a>
  </div>{%endfor%}
</div>
  </div>
</div>
{% schema %}
  {
    "name": "Collection list Pro",
    "settings": [
       {
          "type": "text",
           "id": "sec_heading",
          "label": "Heading"
      },
       {
          "type": "text",
           "id": "view_all",
          "label": "collection substitle"
       },
       {
        "id": "view_all_link",
        "type": "url",
        "label": "Link URL View All"
      }
],
"blocks": [
    {
      "type": "select",
      "name": "Add Block",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
       		"label": "Select Your Image"
        },
        {
          "type": "text",
           "id": "col_name",
          "label": "collection Heading",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
            },
     {
      "id": "linkshop",
      "type": "url",
      "label": "Link collection URL"
    },
    {
      "id": "shoptext",
      "type": "text",
      "label": "Link text",
      "default": "Shop category"
    }
      ]
    }
  ],
   "presets": [
    {
      "name": "Collection list Pro"
    }
  ]
  }
{% endschema %}