<style>
  .bord-chang{
    border:none!important;
  }
  .img-contain-freshcap {
    max-width: 100%;
    width: 100px;
    margin: 0 auto;
}
.fresh-txt-logo{
      text-align: center;
      margin: 0;
     line-height: 25px;
    color: #000;
}  
  .learn-btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 80px;
  }
  .cap-circus-contain{
    padding-bottom: 0!important;
  }
  a.shop-al-cap.button {
    background: #FEC627;
    color: #000;
    width: 160px;
}
  a.learn-cap.button {
    background: #FDF6F1;
    color: #000;
       width: 160px;
}
</style>
<div class="colection_list_container">
  <div class="col-list-bgimage">
   <div class="collection_list_heading"> <h1> {{ section.settings.sec_heading }}</h1> </div>
  <div class="collection_list_cta_all"> <p> {{ section.settings.view_all }} </p> </div>
<div class="leo-container cap-circus-contain">
  {%for block in section.blocks%}
  <div class="leo-content bord-chang">
      <div class="leo-content-overlay"></div>
      <div class="img-contain-freshcap"><img class="leo-content-image" src="{{block.settings.image | image_url: width: 150}}" width="100%" height="auto"></div>
      <div class="fresh-txt-logo">
        <p class=""><span>{{ block.settings.col_name }}</span></p>
      </div>
  </div>{%endfor%}
</div>
     <div class="learn-btn-content">
     <a class=" shop-al-cap button" href="#"><span>{{section.settings.shop-al}} </span></a>
    <a class="learn-cap button" href="#"><span>{{section.settings.learn-cap}} </span></a>
    </div>
  </div>
 
</div>
{% schema %}
  {
    "name": "functional-mushroom",
    "settings": [
       {
          "type": "text",
           "id": "sec_heading",
          "label": "Heading"
      },
       {
          "type": "text",
           "id": "view_all",
          "label": "collection substitle"
       },
      {
          "type": "text",
           "id": "shop-al",
          "label": "collection Heading",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        },
        {
          "type": "text",
           "id": "learn-cap",
          "label": "collection Heading",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        }
    ],
"blocks": [
    {
      "type": "select",
      "name": "Add Block",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
       		"label": "Select Your Image"
        },
        {
          "type": "text",
           "id": "col_name",
          "label": "collection Heading",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "functional-mushroom"
    }
  ]
  }
{% endschema %}