<style>
.mushroom-show {
  display: flex;
  background: #FEC627;
  
}

.video-section {
  flex: 0 0 60%;
  padding: 20px;
}

.products-section {
  flex: 0 0 40%;
  padding: 20px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.products-freshcap-new {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
    width: 100%;
}

.product-inside-cap {
  text-align: center;
  max-width: 100%;
    width: 100%;
}

.product-inside-cap img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
      margin-top: 10px;
}

.product-price {
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
      margin-top: 10px;
}

.product-tags-shroom {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  
}

.shop-now-button {
  width: 230px;
}
  .fresh-shroom-pic{
    max-width:100%;
    width:100%;
  }
</style>
<div class="mushroom-show">
  <div class="video-section page-width">
    <!-- Replace with the actual video link -->
    <a href="https://www.youtube.com/watch?v=video_id" target="_blank">
      <div class="fresh-shroom-pic"><img src="{{ section.settings.man_pic | img_url : 'master' }}" width="100%" height="auto" alt="The Mushroom Show"></div>
    </a>
  </div>
  <div class="products-section page-width">
    <h2 class="section-title">THE MUSHROOM SHOW</h2>
    <p class="section-subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="products-freshcap-new">
      {% for block in section.blocks %}
          {% assign collection = collections[block.settings.custom_collectionx] %}
        {% if collection %}
      {% for product in collection.products  limit : 2%}
        <div class="product-inside-cap">
          <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
          <h3 class="product-title">{{ product.title }}</h3>
          <h3 class="product-price">{{ product.price | money }}</h3>
          <p class="product-tags-shroom">{{ product.tags | join: '|' }}</p>
          <a href="{{ product.url }}" class="shop-now-button button">Shop Now</a>
        
        </div>
      {% endfor %}
          {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
  "name": "shroom-show",
  "settings": [
    {
      "type": "image_picker",
      "id": "man_pic",
      "label": "video thumb"
    }
  ],
    "blocks": [
	     {
       "name": "collection section",
       "type": "collection",
       "settings": [
         {
          "type": "collection",
          "id": "custom_collectionx",
          "label": "Select Collection"
      }
       ]
    }
    ],
  "presets": [
    {
      "name": "shroom-show",
      "category": "Custom"
    }
  ]
}

{% endschema %}